body{
    background: #f1f5f9;
    font-family: Arial;
}

.order-container{
    width: 700px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.order-title{
    text-align: center;
    margin-bottom: 30px;
}

.barcode-section{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.barcode-section input{
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.barcode-section button{
    padding: 12px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.product-card{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-card button{
    padding: 10px 16px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cart-section{
    margin-top: 30px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.bill-btn{
    margin-top: 20px;
    padding: 14px 22px;
    background: #111827;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}